# Database
DATABASE_URL="postgresql://<user>:<pass>@<host>-pooler.../neondb?sslmode=require"
DIRECT_URL="postgresql://<user>:<pass>@<host>.../neondb?sslmode=require"

# Auth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="replace_me_with_random_32+chars"

# Storage (R2) — позже
S3_ENDPOINT=""
S3_ACCESS_KEY_ID=""
S3_SECRET_ACCESS_KEY=""
S3_BUCKET=""

# Meilisearch — позже
MEILI_HOST=""
MEILI_KEY=""

# Upstash — позже
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""
